@import "tailwindcss";


html{
  scroll-behavior: smooth;
  background-color: var(--clr-mainBg);
  }
  
  body {
    background-color: var(--clr-mainBg);
    overflow-x: hidden;
}

:root {
  --clr-mainBg: #f8f8f8;
    --clr-bg: #009398;
    --clr-violet: #a259ff;
    --clr-grey: gray;
      --clr-text: #009398;
      --clr-card: #FFFF;
      --clr-prCard: #FFFF;
      --clr-text: #0f1527;
      --clr-mijoz: #E2EFEF;
        --clr-mijozTxt: #009398;
        --clr-input: #3d3c3c;
    }
    
    .mode {
      --clr-bg: #0f1527;
      --clr-violet: #a259ff;
      --clr-grey: red;
      --clr-prCard: #bdcbd1;
      --clr-text: #FFFF;
      --clr-mainBg: #252e45;
      --clr-card: #0e2260ed;
      --clr-mijoz: #0f1527;
        --clr-mijozTxt: #FFF;
        --clr-input: #FFF;
  }

.site-main {
    flex: 1;
  }
  
.lang-wrapper:hover > .lang-popup {
    height: 60px;
    padding: 8px;
}